*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.9640231092436975) 100%);
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.box{
    background-color:antiquewhite;
    /* height: 250px;
    width: 400px; */
    height:fit-content ;
    width: fit-content;
    padding: 50px;
    border-radius: 60px 10px 60px 10px;
    box-shadow: 5px 5px 12px  ;
    cursor: pointer;
}
.heading{
    color: black;
    text-align: center;
    /* font-weight: bold; */
    font-size: 35px;
    text-shadow: 2px 3px 3px rgb(174, 238, 202);
    margin-top:-20px ;
}
h1{
    font-size: 50px;
    margin: 5px;
    padding: 3px;
}
button{
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width:300px) and (max-width : 400px) {
    h1
    {
        font-size: 40px;
    }
    button{
        font-size: 14px;
    }
}